apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: microservices-monitor
  namespace: monitoring
  labels:
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
      - microservices
  selector:
    matchExpressions:
      - key: app
        operator: Exists
  endpoints:
  - targetPort: 8080
    path: /metrics
    interval: 15s
